@model IEnumerable<BookShop.Models.Cart>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- giao diện giỏ hàng  -->
<section class="content my-3">
	<div class="container">
		<div class="cart-page bg-white">
			<div class="row">

				<!-- giao diện giỏ hàng khi có hàng (phần comment màu xanh bên dưới là phần 2 sản phẩm trong giỏ hàng nhưng giờ đã demo bằng jquery) -->
			<table class="table">
	<thead>
	<tr>
	<th>
	@Html.DisplayNameFor(model => model.Book)
	</th>
	<th>
	@Html.DisplayNameFor(model => model.Quantity)
	</th>
	<th>
	@Html.DisplayNameFor(model => model.TotalPerCart)
	</th>
	<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
	<tr>
	
	<td>
	<img class="card-img-top anh" src="@("~/img/" + item.Book.ImgUrl)" asp-append-version="true" style="max-width:100px;">
	@Html.DisplayFor(modelItem => item.Book.Title)
	</td>
	<td>
	@Html.DisplayFor(modelItem => item.Quantity)
	</td>
	<td>
	@(item.Book.Price * item.Quantity)
	</td>
	
	<td>
		 <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-action="Edit" asp-route-uid="@item.UId" asp-route-bid="@item.BookIsbn">Edit</a>
		 <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right"asp-action="Delete" asp-route-uid="@item.UId" asp-route-bid="@item.BookIsbn">Delete</a>
	
	</td>
	</tr>
	<hr />
	}
	</tbody>
	</table>

	<h3>Total: @Model.Sum(c => c.Book.Price * c.Quantity)</h3>
	
	

			</div>
		</div>
		<a style="text-decoration:none;" type="button" class="btn btn-danger" asp-controller="Carts" asp-action="Checkout">Checkout</a>
		<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Shopping More</a>
	</div>
	
	<!-- het cart-page  -->
	<!-- het container  -->
</section>
<!-- het khoi content  -->
